@import "~@growth-tools/brand/src/assets/scss/abstracts/_variables_master.scss";
@import "~@growth-tools/brand/src/assets/scss/components/_buttons.scss";

.gt-designs {
  height: 100vh;
  &--large,
  &--small {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  &--btn_primary {
    @include btn-primary($white, $university-green);
  }
  &--btn_secondary {
    @include btn-secondary($university-green);
  }
  &--btn_tertiary {
    @include btn-tertiary($university-green);
  }
  &--btn_primary_small {
    @include btn-primary($white, $university-green);
    @include btn-small;
  }
  &--btn_secondary_small {
    @include btn-secondary($university-green);
    @include btn-small;
  }
  &--btn_tertiary_small {
    @include btn-tertiary($university-green);
    @include btn-small;
  }
}
