@import "~@growth-tools/brand/src/assets/scss/abstracts/_variables_master.scss";
@import "~@growth-tools/brand/src/assets/scss/components/_buttons.scss";

.gt-designs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  &--primary-btn {
    @include primary-btn($white, $university-green);
  }
  &--secondary-btn {
    @include secondary-btn($university-green);
  }
}
