<div class="gt-designs">
  <h2>GROWTH TOOLS</h2>
  <h3>Button</h3>
  <div class="gt-designs--large">
    <div class="gt-designs--btn_primary">
      <a href="/some-link">Link Words</a>
    </div>
    <div class="gt-designs--btn_secondary">
      <a href="/some-link">Link Words</a>
    </div>
    <div class="gt-designs--btn_tertiary">
      <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>
      <a href="/this-week">Action items</a>
    </div>
  </div>
  <div class="gt-designs--small">
    <div class="gt-designs--btn_primary_small">
      <a href="/some-link">Link Words</a>
    </div>
    <div class="gt-designs--btn_secondary_small">
      <a href="/some-link">Link Words</a>
    </div>
    <div class="gt-designs--btn_tertiary_small">
      <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>
      <a href="/this-week">Action items</a>
    </div>
  </div>
</div>